*{
    box-sizing: border-box;
}

.c1{
    fill:rgb(185, 222, 247);
    opacity: 0.5;
}
.c1:hover{
    opacity: 1;
}
.c1:active{
    filter:url(#blur);
}
.container{
    margin: 2rem;
    padding: 2rem;
    width: 100%;
    height:100%;
    background-color: rgb(132, 132, 221);
    border: 10px solid rgb(97, 166, 223);
    display:flex;
    flex-direction: column;
}
/* .shape{
    width:200px;
    height:25px;
    border-radius:5px;
    margin-bottom:1px;
    background-color:white;
    justify-content: center;
    margin-left: 400px;
} */
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:100px;
    color:rgb(173, 237, 240);
    justify-content: center;
    margin-left: 440px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color:rgb(173, 237, 240);
    justify-content: center;
    margin-left:425px;
}
hr{
    width:500px;
    display: flex;
}
#navbar{
     top:0px;
    position:absolute;
    left:0px;
    width:100%;
    background-color: rgb(145, 206, 241);
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }
  nav li {
    display: inline;
    margin-right: 20px;
  }
  footer {
    background-color: #7ab3e9;
    color: white;
    padding: 0.5em;
  }
  button {
    background-color: white;
    margin-left:440px;
  }
/* #left{
    float:left;
    width:50%;
}  
#right{
    float:right;
    width:40%;
} */


