body {
  background-repeat: no-repeat;
  background-image: url("tvstatic.jpeg");
  background-size: cover;
  opacity: 0;
  transition: 3s;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
button {
  height: 50px;
  width: 100px;
  margin: 10px;
}
#drama_btn {
  color: black;
  background-color: darkgrey;
}
#comedy_btn {
  color: yellow;
  background-color: plum;
}
#thriller_btn {
  color: salmon;
  background-color: seagreen;
}
#christmas_btn {
  color: springgreen;
  background-color: maroon;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
img {
  width: 500px;
  height: 500px;
}
